body {
	width: 960px;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	line-height: 25px;
}

#submitContact {
	color: #FFFFFF;
	background-color: #4aaaa5;
}

.name {
	background-color: #4aaaa5;
	color: #FFFFFF;
	float: left;
	padding: 10px;
}

#header {
	background-color: #FFFFFF;
	width: 650px;
	margin: 0 auto;
	height: 20px;
}

.connectWithMe {
	color: #4aaaa5;
	background-color: #FFFFFF;
	width: 30%;
	float: right;
	padding: 10px;
}

.connectWithMeHeader {
	border-bottom: solid #777777;
	text-align: center;
	padding-bottom: 20px;
}

h1, h2, a  {
	color: #4aaaa5;
}

#aboutMeHeader, #contactHeader, #portfolioHeader {
	border-bottom: solid #777777;
	padding-bottom: 20px;
}

.wrapper {
	width: 650px;
	overflow: auto;
	margin: 0 auto;
}

#aboutMeBox, #contactBox, #portfolioBox {
	background-color: #FFFFFF;
	color: #777777;
	margin-bottom: 20px;
	width: 400px;
	float: left;
	padding: 10px;
}

.footer {
	background-color: #666666;
	color:#777777;
	border-top: solid #4aaaa5;
    text-align: center;
	height: 60px;
	width: 966px;
	margin: auto;
    padding-top: 30px;

}

.portfolioLink {
	border-right: solid #777777;
	border-left: solid #777777;
	padding-left: 5px;
	padding-right: 5px;
}

.pageLinks {
	float: right;
	margin-top: 45px;
}

.bioImage {
	float: left;
	width: 150px;
	height: 150px;
	padding: 10px;
}

.background {
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/upfeathers.png");
	width: 960px;
	border: solid #666666;
	border-bottom: solid #4aaaa5;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-top: 57px;
}

.connectWithMeLinks {
	text-align: center;
}

.gamesPic {
	float: left;
	padding: 10px;
	margin: 20px;
	position: relative;
	z-index: -1;
}

#gameTag {
	background-color: #4aaaa5;
	color: #FFFFFF;
	height:20px;
	margin: 0 auto;
	margin-top: 80px;
	position: absolute;
	text-align: center; 
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#hangman, #triviaGame, #rockPaperScissors {
	float: left;
	position:relative;
	z-index: 2;
	width: 150px;
	height: 120px;
	margin-left: 25px;
	margin-bottom: 20px;
} 

#rpgGame, #rutgersInfo {
	float: right;
	position:relative;
	z-index: 2;
	width: 150px;
	height: 120px;
	margin-right: 25px;
	margin-bottom: 20px;
}

#hangman {
	background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#triviaGame {
	background-image: url("http://lorempixel.com/output/animals-q-c-640-480-7.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#rockPaperScissors {
	background-image: url("http://lorempixel.com/output/animals-q-c-640-480-6.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#rpgGame {
	background-image: url("http://lorempixel.com/output/nature-q-c-640-480-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#rutgersInfo {
	background-image: url("http://lorempixel.com/output/cats-q-c-640-480-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#games {
overflow: auto;
margin: 0 auto;
}

.textBox {

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
	height: 150px;
	width:100%;
}


